<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/head :: head_fragment(title = 'ユーザ登録')">
</head>
<body>
		<div th:replace="common/header :: header_fragment(title = 'ユーザ登録')"></div>

		<div class="container">
			<div class="header text-secondary">
				<h1>ユーザ登録確認</h1>
			</div>
			<form data-toggle="validator" role="form" id="registerForm"
				th:action="@{/user/register/complete}" method="post"
				th:object="${userViewModel}">
				<div class="form-group">
					<label for="inputName" class="control-label text-secondary"> 名前 </label>
					<input th:value="*{userName}" type="text" class="form-control" id="inputName" disabled/>
					<input th:field="*{userName}" type="hidden" />
				</div>
				<div class="form-group">
					<label for="inputName" class="control-label text-secondary"> ユーザID </label>
					<input th:value="*{accountId}" type="text" class="form-control" id="inputId" disabled />
					<input th:field="*{accountId}" type="hidden" />
				</div>
				<div class="form-group">
					<label for="inputName" class="control-label text-secondary"> 在籍区分 </label>
					<input th:value="${statusList.get('__*{status}__')}" type="text" class="form-control" id="status" disabled />
					<input th:field="*{status}" type="hidden" />
				</div>
				<div class="form-group">
					<label for="inputName" class="control-label text-secondary"> 入社日 </label>
					<input th:value="*{hireDate}" type="text" class="form-control datetimepicker-input" disabled/>
					<input th:field="*{hireDate}" type="hidden" />
				</div>
				<div class="form-group">
					<label for="inputName" class="control-label text-secondary"> メールアドレス </label>
					<input th:value="*{mailAddress}" type="text" class="form-control" id="mailAddress" disabled />
					<input th:field="*{mailAddress}" type="hidden" />
				</div>
				<div class="form-group">
					<label for="inputName" class="control-label text-secondary"> 有給残日数 </label>
					<input th:value="*{leftoverHoliday}" type="text" class="form-control" id="leftoverHoliday" disabled />
					<input th:field="*{leftoverHoliday}" type="hidden" />
				</div>
				<div class="form-group">
					<label for="inputName" class="control-label text-secondary"> パスワード </label>
					<input value="********" type="text" class="form-control" id="パスワード" disabled />
					<input th:field="*{password}" type="hidden" />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-secondary btn-block">登録</button>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-light btn-block" onclick="history.back()">入力画面に戻る</button>
				</div>
			</form>
		</div>

	<div th:replace="common/footer :: footer_fragment"></div>
</body>
</html>