<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.genuine.hm.api.dataaccess.user.UserMapper">

	<resultMap id="userMap" type="jp.co.genuine.hm.api.domain.user.User">
		<id     property="userId.value" column="user_id" />
		<result property="mailAddress.value" column="mail_address"/>
		<result property="password.value" column="password"/>
		<result property="userName.value" column="user_name"/>
		<result property="userStatus.label" column="user_status"/>
		<result property="hireDate.value" column="hire_date"/>
		<result property="admin" column="admin_flg"/>
	</resultMap>

	<resultMap id="groupNameMap" type="jp.co.genuine.hm.api.domain.user.GroupName">
		<id     property="value" column="name" />
	</resultMap>

	<resultMap id="userIdMap" type="jp.co.genuine.hm.api.domain.user.UserId">
		<id     property="value" column="user_id" />
	</resultMap>

	<resultMap id="gropuIdMap" type="jp.co.genuine.hm.api.domain.user.GroupId">
		<id     property="value" column="group_id" />
	</resultMap>

	<select id="nextUserId" resultMap="userIdMap">
		SELECT
			nextval('user.user_id_seq') AS user_id
	</select>

	<select id="nextGroupId" resultMap="gropuIdMap">
		SELECT
			nextval('user.group_id_seq') AS group_id
	</select>

	<insert id="insertUser">
		INSERT INTO "user".user
			(
				id,
				status,
				email,
				name,
				hire_date,
				update_datetime
			)
		VALUES
			(
				#{userId.value},
				#{userStatus},
				#{mailAddress.value},
				#{userName.value},
				#{hireDate.value},
				now()
			)
	</insert>

	<insert id="insertAccount">
		INSERT INTO "user".account
			(
				user_id,
				account_id,
				password,
				admin_flg
			)
		VALUES
			(
				#{userId.value},
				#{accountId.value},
				#{password.value},
				false
			)
	</insert>

	<update id="updateUser">
		UPDATE
			"user".user
		SET
			email = #{mailAddress.value},
			"name" = #{userName.value},
			update_datetime = now()
		WHERE
			"id" = #{userId.value}
	</update>

	<select id="findManagerList" resultMap="userMap">
		SELECT
			"user".id          AS user_id
			,"user".email      AS mail_address
			,account.password  AS password
			,"user".name       AS user_name
			,"user".status     AS user_status
			,"user".hire_date  AS hire_date
			,account.admin_flg AS admin_flg
		FROM
			"user"."user"
		INNER JOIN
			"user".account
			ON account.user_id = "user".id
		INNER JOIN
			"user".manager
			ON manager.user_id = "user".id
		INNER JOIN
			"user"."group"
			ON "group".id = manager.group_id
		WHERE
			"group".id = #{groupId.value}
	</select>

	<select id="findMemberList" resultMap="userMap">
		SELECT
			"user".id         AS user_id
			,"user".email     AS mail_address
			,account.password AS password
			,"user".name      AS user_name
			,"user".status    AS user_status
			,"user".hire_date AS hire_date
			,account.admin_flg AS admin_flg
		FROM
			"user"."user"
		INNER JOIN
			"user".account
			ON account.user_id = "user".id
		INNER JOIN
			"user".member
			ON member.user_id = "user".id
		INNER JOIN
			"user"."group"
			ON "group".id = member.group_id
		WHERE
			"group".id = #{groupId.value}
	</select>

	<select id="findGroupName" resultMap="groupNameMap">
		SELECT
			name
		FROM
			"user".group
		WHERE
			"group".id = #{groupId.value}
	</select>

	<insert id="insertGroup">
		INSERT INTO "user".group
			(
				id,
				name,
				register_datetime,
				update_datetime
			)
		VALUES
			(
				#{groupId.value},
				#{groupName.value},
				now(),
				now()
			)
	</insert>

	<select id="findAllUser" resultMap="userMap">
		SELECT
			"user".id         AS user_id
			,"user".email     AS mail_address
			,account.password AS password
			,"user".name      AS user_name
			,"user".status    AS user_status
			,"user".hire_date AS hire_date
			,account.admin_flg AS admin_flg
		FROM
			"user"."user"
		INNER JOIN
			"user".account
			ON account.user_id = "user".id
		LEFT OUTER JOIN
			(
				SELECT
					id AS group_id,
					user_id AS user_id
				FROM
					"user".member
				INNER JOIN
					"user".group
					ON "group".id = member.group_id
			) AS member
			ON member.user_id = "user".id
		LEFT OUTER JOIN
			(
				SELECT
					id AS group_id,
					user_id AS user_id
				FROM
					"user".manager
				INNER JOIN
					"user"."group"
					ON "group".id = manager.group_id
			) AS manager
			ON manager.user_id = "user".id
		<foreach collection="sorts.sortList" item="sort" open="ORDER BY" close="" separator=",">
			<if test="sort.userName">
				"user".name
			</if>
		</foreach>
	</select>

	<select id="findBy" resultMap="userMap">
		SELECT
			"user".id         AS user_id
			,"user".email     AS mail_address
			,account.password AS password
			,"user".name      AS user_name
			,"user".status    AS user_status
			,"user".hire_date AS hire_date
			,account.admin_flg AS admin_flg
		FROM
			"user"."user"
		INNER JOIN
			"user".account
			ON account.user_id = "user".id
		LEFT OUTER JOIN
			(
				SELECT
					id AS group_id,
					user_id AS user_id
				FROM
					"user".member
				INNER JOIN
					"user".group
					ON "group".id = member.group_id
			) AS member
			ON member.user_id = "user".id
		LEFT OUTER JOIN
			(
				SELECT
					id AS group_id,
					user_id AS user_id
				FROM
					"user".manager
				INNER JOIN
					"user"."group"
					ON "group".id = manager.group_id
			) AS manager
			ON manager.user_id = "user".id
		WHERE
			"user".id = #{userId.value}
	</select>

	<select id="findUsersByGroupId" resultMap="userMap">
		SELECT
			"user".id         AS user_id
			,"user".email     AS mail_address
			,account.password AS password
			,"user".name      AS user_name
			,"user".status    AS user_status
			,"user".hire_date AS hire_date
			,account.admin_flg AS admin_flg
		FROM
			"user"."user"
		INNER JOIN
			"user".account
			ON account.user_id = "user".id
		LEFT OUTER JOIN
			(
				SELECT
					id AS group_id,
					user_id AS user_id
				FROM
					"user".member
				INNER JOIN
					"user".group
					ON "group".id = member.group_id
			) AS member
			ON member.user_id = "user".id
		LEFT OUTER JOIN
			(
				SELECT
					id AS group_id,
					user_id AS user_id
				FROM
					"user".manager
				INNER JOIN
					"user"."group"
					ON "group".id = manager.group_id
			) AS manager
			ON manager.user_id = "user".id
		WHERE
			member.group_id = #{groupId.value}
		OR
			manager.group_id = #{groupId.value}
	</select>

	<update id="updateGroup">
		UPDATE
			"user".group
		SET
			"name" = #{groupName.value},
			update_datetime = now()
		WHERE
			"id" = #{groupId.value}
	</update>

	<select id="findByEmail" resultMap="userMap">
		SELECT
			"user".id          AS user_id
			,"user".email      AS mail_address
			,account.password  AS password
			,"user".name       AS user_name
			,"user".status     AS user_status
			,"user".hire_date  AS hire_date
			,account.admin_flg AS admin_flg
		FROM
			"user"."user"
		INNER JOIN
			"user".account
			ON account.user_id = "user".id
		WHERE
			"user".email = #{email}
	</select>

	<insert id="insertManager">
		INSERT INTO "user".manager
			(
				group_id,
				user_id,
				update_datetime
			)
		VALUES
			(
				#{groupId.value},
				#{userId.value},
				now()
			)
	</insert>

	<insert id="insertMember">
		INSERT INTO "user".member
			(
				group_id,
				user_id,
				update_datetime
			)
		VALUES
			(
				#{groupId.value},
				#{userId.value},
				now()
			)
	</insert>

	<delete id="deleteManager">
		DELETE FROM "user".manager
		WHERE
			user_id = #{userId.value}
	</delete>

	<delete id="deleteMember">
		DELETE FROM "user".member
		WHERE
			user_id = #{userId.value}
	</delete>

	<update id="deleteGroup">
		UPDATE
			"user".group
		SET
			deleted = true
		WHERE
			id = #{groupId.value}
	</update>

	<update id="deleteUser">
		UPDATE
			"user".user
		SET
			deleted = true
		WHERE
			id = #{userId.value}
	</update>

</mapper>