<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="holiday.manager.dataaccess.holiday.HolidayMapper">

	<resultMap id="userIdMap" type="holiday.manager.domain.model.user.UserId">
		<id     property="value" column="user_id" />
	</resultMap>

	<select id="findApplicantUserIdByUserId" resultMap="userIdMap">
		SELECT
			"user".id AS user_id
		FROM
			"user"."user" "user"
		INNER JOIN
			"user".member member
			ON member.user_id = "user".id
		INNER JOIN
			"user".group "group"
			ON "group".id = member.group_id
		LEFT OUTER JOIN
			"user".manager manager
			ON manager.group_id = "group".id
		LEFT OUTER JOIN
			"user"."user" managed_members
			ON managed_members.id = manager.user_id
		WHERE
			"user".deleted = false
		AND
			"group".deleted = false
		AND
			managed_members.deleted = false
		AND
			"user".id = #{userId.value}
	</select>

	<select id="findManagedMembersByUserId" resultMap="userIdMap">
		SELECT
			managed_members.id AS user_id
		FROM
			"user"."user" "user"
		INNER JOIN
			"user".manager manager
			ON manager.user_id = "user".id
		INNER JOIN
			"user".group "group"
			ON "group".id = manager.group_id
		LEFT OUTER JOIN
			"user".member member
			ON member.group_id = "group".id
		LEFT OUTER JOIN
			"user"."user" managed_members
			ON managed_members.id = member.user_id
		WHERE
			"user".deleted = false
		AND
			"group".deleted = false
		AND
			managed_members.deleted = false
		AND
			"user".id = #{userId.value}
	</select>

</mapper>