<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/head :: head_fragment(title = 'グループ一覧')">
</head>
<script th:src="@{/js/group.js}"></script>
<body>
	<div th:replace="common/header :: header_fragment(title = 'グループ一覧')"></div>

	<div class="container">
		<div class="header text-secondary">
			<h1>グループ編集</h1>
		</div>
		<form data-toggle="validator" role="form" th:action="@{/group/update/complete/{id}(id=${viewGroupMemberList.groupId})}" method="post" th:object="${viewGroupMemberList}">
			<div class="form-group has-feedback">
				<label for="inputName" class="control-label text-secondary">
					<span class="label label-danger">必須項目</span>　グループ名
				</label>
				<input th:field="${viewGroupMemberList.groupName}" type="text" maxlength="20" class="form-control" id="inputName" placeholder="グループ名を入力" data-required-error="グループ名の入力は必須です" required>
				<div class="help-block">20文字以内で設定してください。</div>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>

			<div class="header text-secondary">
				<h2>ユーザー追加・削除</h2>
			</div>
			<table class="table table-bordered table-striped">
				<tbody>
					<thead class="thead-dark">
						<tr>
							<th scope="col">ユーザー名</th>
							<th scope="col">メンバー</th>
							<th scope="col">承認者</th>
						</tr>
					</thead>
					<tr th:each="groupMember : ${viewGroupMemberList.groupMemberList}">
						<td th:text="${groupMember.userName}" style="width:70%"></td>
						<td>
							<input type="checkbox" th:checked="${groupMember.member}" />
						</td>
						<td>
							<input type="checkbox" th:checked="${groupMember.manager}" />
						</td>
					</tr>
				</tbody>
			</table>

			<div class="form-group">
				<button type="submit" class="btn btn-secondary btn-block" onclick="return confirm('更新してもよろしいですか？')">更新</button>
			</div>
		</form>
	</div>

	<div th:replace="common/footer :: footer_fragment"></div>
</body>
</html>