<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/head :: head_fragment(title = 'トップページ')">
</head>
<body>
<div th:replace="common/header :: header_fragment(title = 'トップページ')"></div>
<div class="box">
   <h1>トップページです。</h1>
   <h2>残有給</h2>
   <span th:text="|残りの有給はあと${remainingDays}日です|">残りの有給数</span>
   <th:block th:if="${holidayAlert.isNotEmpty()}">
      <h2>お知らせ</h2>
      <span th:text="${holidayAlert.displayAlert()}">アラート文言</span>
   </th:block>
</div>
<div class="container">
   <div class="header text-secondary">
      <h1>申請履歴</h1>
   </div>
   <table class="table table-bordered table-striped">
      <tbody>
      <tr th:each="holidayApplication : ${holidayApplications}" th:object="${holidayApplication}">
         <td th:text="*{date}" style="width:70%"></td>
         <td th:text="*{kindOfHoliday}" style="width:70%"></td>
         <td th:text="*{holidayApplicationStatus}" style="width:70%"></td>
      </tr>
      </tbody>
   </table>
</div>
<div class="container">
   <div class="header text-secondary">
      <h1>承認待ち</h1>
   </div>
   <table class="table table-bordered table-striped">
      <tbody>
      <tr th:each="applyingHolidayApplication, stat : ${applyingHolidayApplications}" th:object="${applyingHolidayApplication}">
         <form method="post" name="applyingHolidayApplicationForm${stat.index}" action="?">
            <td th:text="*{date}" style="width:70%"></td>
            <td th:text="${userList.getByUserId(applyingHolidayApplication.applicantId).userName.value}" style="width:70%"></td>
            <td th:text="*{kindOfHoliday}" style="width:70%"></td>
            <td><button type="submit" name="_method" value="post" th:formaction="@{/holiday/application/applying/apply/id/{id}(id=*{holidayApplicationId.value})}"><i class="far fa-edit" style="width:15%"></i></button></td>
            <td><button type="submit" name="_method" value="delete" th:formaction="@{/holiday/application/applying/cancel/id/{id}(id=*{holidayApplicationId.value})}"><i class="far fa-edit" style="width:15%"></i></button></td>
         </form>
      </tr>
      </tbody>
   </table>
</div>
<div th:replace="common/footer :: footer_fragment"></div>
</body>
</html>