<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/head :: head_fragment(title = 'ログイン')">
</head>
<link rel="stylesheet" th:href="@{/css/login.css}" />
<body>
<div class = "container">
	<div class="wrapper">
		<form role="form" id="login" th:action="@{/login}" method="post" class="form-signin">
				<h3 class="form-signin-heading text-secondary">有給管理システム</h3>
				<hr class="colorgraph"><br>

				<input type="text" class="form-control" name="username" placeholder="ユーザID" required autofocus/>
				<input type="password" class="form-control" name="password" placeholder="パスワード" required/>

				<button class="btn btn-lg btn-secondary btn-block" type="submit">ログイン</button>
		</form>
	</div>
</div>
	<div th:replace="common/footer :: footer_fragment"></div>
</body>
</html>