<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/head :: head_fragment(title = 'ユーザ登録')">
</head>
<body>
	<!-- index.html -->
	<div id="app-root">
		<div th:replace="common/header :: header_fragment(title = 'ユーザ登録')"></div>
		<div class="header">
			<h1>ユーザ登録</h1>
		</div>

		<div class="container">
			<form data-toggle="validator" role="form"
				th:action="@{/user/register/complete}" method="post"
				th:object="${registerUserRequest}">
				<div class="form-group has-feedback">
					<label for="inputName" class="control-label"> 名前 </label> <input
						th:field="*{userName}" type="text" class="form-control"
						id="inputName" >
				</div>
				<div class="form-group has-feedback">
					<label for="inputName" class="control-label"> ユーザID </label> <input
						th:field="*{accountId}" type="text" class="form-control"
						id="inputId" >
				</div>
				<div class="form-group has-feedback">
					<label for="inputName" class="control-label"> 在籍区分 </label>
					<div class="col-sm-10">
						<select th:field="*{status}" id="singleSelect" name="selectedItem"
							>
							<option th:each="item : ${statusList}" th:value="${item.value}"
								th:text="${item.value}"></option>
						</select>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="inputName" class="control-label"> 入社日 </label>
					<div class="input-group date" id="datetimepicker1"
						data-target-input="nearest">
						<input th:field="*{hireDate}" type="text"
							class="form-control datetimepicker-input"  />
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="inputEmail" class="control-label"> メールアドレス </label> <input
						th:field="*{mailAddress}" type="email" class="form-control"
						id="inputEmail" > <span
						class="glyphicon form-control-feedback" aria-hidden="true"></span>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="control-label"> パスワード </label>
					<div class="form-group has-feedback col-sm-6">
						<input th:field="*{password}" type="password" class="form-control"
							id="inputPasswordConfirm" data-match="#inputPassword" >
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">送信</button>
				</div>
			</form>
		</div>

	</div>

	<div th:replace="common/footer :: footer_fragment"></div>
</body>
</html>