<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/head :: head_fragment(title = 'ユーザ更新')">
</head>
<body>
	<div th:replace="common/header :: header_fragment(title = 'ユーザ更新')"></div>

	<div class="container">
		<div class="header text-secondary">
			<h1>ユーザ更新</h1>
		</div>
		<form data-toggle="validator" role="form" th:action="@{/user/update/{id}/confirm(id=${userId})}" method="post" th:object="${userViewModel}">
			<div class="form-group has-feedback">
				<label for="inputName" class="control-label text-secondary">
					<span class="label label-danger">必須項目</span>　名前
				</label>
				<input th:field="*{userName}" type="text" maxlength="20" class="form-control" id="inputName" placeholder="名前を入力" data-required-error="名前の入力は必須です" required>
				<div class="help-block">20文字以内で設定してください。</div>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
		<div class="form-group has-feedback">
				<label for="inputName" class="control-label text-secondary">
					<span class="label label-danger">必須項目</span>　在籍区分
				</label>
			<div class="col-sm-10">
				<select th:field="*{status}" id="singleSelect" name="selectedItem">
					<option th:each="item : ${statusList}" th:value="${item.key}"
						th:text="${item.value}"></option>
				</select>
			</div>
		</div>
			<div class="form-group has-feedback">
				<label for="inputName" class="control-label text-secondary">
					<span class="label label-danger">必須項目</span>　入社日
				</label>
				<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
									<input th:field="*{hireDate}" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" placeholder="yyyy-MM-dd で入力してください" data-required-error="入社日の入力は必須です" required/>
									<div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
											<div class="input-group-text"><i class="fa fa-calendar"></i></div>
									</div>
							</div>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group has-feedback">
				<label for="inputEmail" class="control-label text-secondary">
					<span class="label label-danger">必須項目</span>　メールアドレス
				</label>
				<input th:field="*{mailAddress}" type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="メールアドレスが正しく入力されておりません" data-required-error="メールアドレスの入力は必須です" required>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group has-feedback">
				<label for="inputEmail" class="control-label text-secondary">
					<span class="label label-danger">必須項目</span>　有給残日数
				</label>
				<input th:field="*{leftoverHoliday}" type="number" step="0.1" class="form-control" id="inputEmail" placeholder="有給残日数" data-error="有給残日数が正しく入力されておりません" data-required-error="有給残日数の入力は必須です" required>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="control-label text-secondary">
					　パスワード
				</label>
				<div class="row">
					<div class="form-group has-feedback col-sm-6">
						<input type="password" maxlength="20" class="form-control" id="inputPassword" placeholder="更新する場合はパスワードを入力">
						<div class="help-block">6文字以上20文字以内で設定してください。</div>
					</div>
					<div class="form-group has-feedback col-sm-6">
						<input th:field="*{password}" type="password" maxlength="20" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-required-error="確認用パスワードの入力は必須です" data-match-error="パスワードが一致しません" placeholder="確認用パスワードを入力">
						<div class="help-block with-errors"></div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-secondary btn-block">確認画面に進む</button>
			</div>
		</form>
	</div>

	<div th:replace="common/footer :: footer_fragment"></div>
</body>
</html>