<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/head :: head_fragment(title = 'ユーザ一覧')">
</head>
<script th:src="@{/js/user_list.js}"></script>
<body>
	<div th:replace="common/header :: header_fragment(title = 'ユーザ一覧')"></div>

	<div class="container">
	<div class="header text-secondary">
		<h1>ユーザ一覧</h1>
	</div>
		<table class="table table-bordered table-striped">
			<tbody>
				<tr th:each="user : ${userList}" th:object="${user}">
					<td th:text="*{userName.value}" style="width:70%"></td>
					<td><i class="far fa-edit" style="width:15%"></i></td>
					<td><i class="far fa-trash-alt" style="width:15%"></i></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div th:replace="common/footer :: footer_fragment"></div>
</body>
</html>